#top, #bottom {
  position: fixed;
  z-index: 5;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}


#top {
  top: 0;
  justify-content: flex-start;
  padding: 2.5rem 0;
  background: linear-gradient(180deg, var(--bg-color) 75%, rgba(0,0,0,0) 100%);
}

#top img {
  margin: 0 auto;
  height: 2rem;
}

@media (prefers-color-scheme: dark) {
  #top img {
    filter: invert();
  }
}


#bottom {
  bottom: 0;
  justify-content: flex-end;
  padding: 2rem 0 2.5rem;
  background: linear-gradient(0deg, var(--bg-color) 80%, rgba(0,0,0,0) 100%);
}

#bottom ul {
  list-style-type: none;
}

#bottom ul li {
  display: inline-block;
  margin: 0 .5rem;
  font-size: 1.75rem;
}

#bottom ul li a {
  transition: color 100ms linear;
}

#bottom ul li a:hover {
  color: var(--accent-color) !important;
}

#bottom p {
  font-size: .9rem;
  margin-top: .5rem;
}

#bottom p a {
  font-weight: 600;
}